@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body {
    overscroll-behavior: none;
    font-family: 'Nanum Myeongjo', serif;
    overflow: hidden;
}
* {
    cursor: none;
    scroll-behavior: smooth; 
}

/* Scroll Bar */
:root::-webkit-scrollbar { width: 0.25rem; }
:root::-webkit-scrollbar-track { background: transparent; }
:root::-webkit-scrollbar-thumb { background: #696969; }
:root::-webkit-scrollbar-thumb:hover { background: #38ffff; }

